#hentvers {
  display: none;
}

.takelurmunnContainer {
  background-color: inherit;
}

.takelurmunn {
  width: 80%;
  border: none;
}

#plassholder {
  color: darkgrey;
  margin-top: 5px;
}

#visVers {
  text-align: center;
  font-size: 200%;
}

.extraInfo {
  margin: 0;
  font-size: 150%;
  text-align: center;
}

.infoDescription {
  font-weight: bold;
}

.sjiraffenversgenerator h3 {
  color: black;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.formMob {
  width: 60%;
  margin: 10px auto;
}

.inputbox {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.knapp {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #7eb762;
  color: white;
}

.scrollbarBorder {
  width: 60%;
  margin: 20px auto;
}

.scrollbarBorderNoLogIn {
  margin-top: 40px;
}

.scrollbarWindow {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
  padding-left: 5%;
  border: none;
  padding: 0;
  margin: 0;
}

.scrollbarWindow p {
  font-size: 20px;
}
